MATCH_ENDPOINT_URL=http://localhost:8080/match
NEO4J_URL=bolt://localhost:7687
AMPQ_URL=amqp://guest:guest@localhost:5672//
REDIS_URL=redis://localhost:6379/0

# Values are treated as seconds.
MAX_SESSION_TIMEOUT=3600
REFRESH_SESSION_INTERVAL=3600
TASK_CLEANUP_INTERVAL=10

EXPOSE_DOCS=1
